<!DOCTYPE html>
<html>
    <head>
        <title>Salem Chess</title>
    </head>
    <body>
        I was too lazy to make a cool thing so just click this <a href="/invite/fitme1v1irlscrub">link</a> and share it with someone else.
    </body>
</html>