<!DOCTYPE html>
<html>
    <head>
        <title>Salem Chess</title>
        <script>
            window.gameCode = "${input.gameCode}";
        </script>
        <script src="/build/bundle.js" />
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
    
    </body>
</html>